%html
  %head
    - # <link href="..." rel="...">
    - # HAML specifies these with a Ruby hash
    %link{:href=>"//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css", :rel=>"stylesheet"}

  %body
    / This will be a div w/ class container
    .container
      / = replaces .erb's <%= to run ruby code
      / <h1 id="main">...</h1>
      .jumbotron
        %h1= status
