%html
  %head
    %link{:href=>"//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css", :rel=>"stylesheet"}

  %body
    .container
      %form{:method => "POST"}
        %input{:name => "q", :placeholder => "Search for words"}

    - if @letters
      %p= "You searched for '#{@letters.join("")}'"
      %ul
        - @matches.each do |match|
          %li= match
